<div ng-include="'view/utilitários/menu.html'"></div>
<div class="upperMenu">
    <table class="mainMenu">
        <tr>
            <td class="m1">
                <a class="frontLink lin" href='#/funcionarios'>Funcionários</a>
            </td>
            <td class="m2">
                <a class="frontLink lin" href='#/clientes'>Clientes</a>
            </td>
            <td class="m3">
                <a class="frontLink lin" href='#/ordens'>Ordens de serviço</a>
            </td>
        </tr>
    </table>
</div>
<div class="frontPg">
    <h1 class="titulo">
        Milane Reparos
    </h1>
    <h3>
        Reparos e consertos sob encomenda.
    </h3>
    <p>
        Olá! Este é o sistema que controla os dados da loja de reparos, cadastrando usuários, ordens de serviço e
        clientes.
    </p>
    <p>
        Toda ordem deve passar pelo sistema antes de ser enviada para diagnóstico.
    </p>
    <p>
        Os usuários são limitados á algumas atividades conforme a autorização concedida. Usuários podem acessar apenas o
        seu perfil,
        administradores tem acesso total ao sistema.
    </p>
    <p class="Danger">
        O sistema deverá ser utilizado apenas por funcionários de Milane Reparos, qualquer quebra de protocolo será
        punida.
    </p>
</div>