<nav class="nav" ng-controller="loginController">
    <a  class="link-main  lin" href="#/home">Home</a>
    <h2 class="link-main">|</h2> 
    <a  class="link-main  lin" href="#/funcionarios">  Funcionários </a>
    <h2 class="link-main"> | </h2>
    <a  class="link-main  lin" href="#/clientes">  Clientes </a>
    <h2 class="link-main"> | </h2>
    <a  class="link-main  lin" href="#/ordens">  Ordens </a>
    <h2 class="link-main"> | </h2>
    <div class=" logout">
        <a class="link-main lin" ng-click="logout()" href="index.html#/login">Logout</a>
    </div>
</nav> 