<nav class="nav" ng-controller="loginController">
    <a  class="link-main  lin" href="https://github.com">Git </a>
    <h2 class="link-main">|</h2> 
    <a  class="link-main  lin" href="index.html#/funcionarios">  Funcionários </a>
    <h2 class="link-main"> | </h2>
    <a  class="link-main  lin" href="index.html#/clientes">  Clientes </a>
    <h2 class="link-main"> | </h2>
    <a  class="link-main  lin" href="index.html#/ordens">  Ordens </a>
    <h2 class="link-main"> | </h2>
    <a class="link-main lin logout" ng-click="logout()" href="index.html#/login">logout</a>
</nav> 