<div>
    <header>
        <div>
            <div ng-include="'view/utilitários/menu.html'"></div>
        </div>
    </header>
    <div class="corpo alerta">
        <h1 class=" danger">Tem certeza que deseja deletar o Equipamento {{equipamento.nome}}?</h1>
        <button class="btn btn-primary btn-block btn-danger" ng-click="deleteCliente(clientes.id)">Deletar funcionário</button>
        <button class="btn btn-primary btn-block "><a class="normal"
                href="index.html#/clientesPerfil/{{clientes.id}}">cancelar</a></button>
     </div>
</div>