<div>
    <header>
        <div>
            <div ng-include="'view/utilitários/menu.html'"></div>
        </div>
    </header>
    <div class="corpo alerta">
        <h1 class=" danger">Tem certeza que deseja deletar a ordem {{ordens.id}}?</h1>
        <button class="btn btn-primary btn-block btn-danger" ng-click="deleteOrdem(ordens.id)">Deletar ordem</button>
        <button class="btn btn-primary btn-block "><a class="normal"
                href="index.html#/ordensDetalhe/{{ordens.id}}">cancelar</a></button>
     </div>
</div>