<div>
    <header>
        <div>
            <div ng-include="'view/utilitários/menu.html'"></div>
            <h1 class="titulo">Ordem {{ordens.id}}</h1>
        </div>
    </header>
    <div class="corpo perfil">
        <table class="table table-striped table-dark">
            <tr class="titulo-tb">
                <td class="t3">Ordem:</td>
                <td></td>
            </tr>
            <tr>
                <td class="c1">Id</td>
                <td>{{ordens.id}}</td>
            </tr>
            <tr>
                <td class="c1">Cliente</td>
                <td>{{ordens.cliente.nome}}</td>
            </tr>
            <tr>
                <td class="c1">Status</td>
                <td class="t3">{{ordens.status}}</td>
            </tr>
            <tr>
                <td class="c1">Instante</td>
                <td>{{ordens.instante}}</td>
            </tr>
            <tr ng-hide="ordens.orcamento == 0">
                <td class="c1">Orçamento</td>
                <td class="t3">{{ordens.orcamento}}</td>
            </tr>
        </table>

        <h1>Pagamento:</h1>
        <table class="table table-striped table-dark">
            <tr>
                <td class="c1">Id</td>
                <td>{{ordens.pagamento.id}}</td>
            </tr>
            <tr>
                <td class="c1">Situação</td>
                <td>{{ordens.pagamento.estado}}</td>
            </tr>
            <tr ng-hide="ordens.pagamento.numeroDeParcelas == null">
                <td class="c1">Parcelas</td>
                <td>{{ordens.pagamento.numeroDeParcelas}}</td>
            </tr>
        </table>

        <h1>Equipamentos:</h1>

        <table class="table table-striped table-dark" ng-repeat="equipamento in ordens.equipamentos">
            <tr>
                <td class="c1">Id</td>
                <td class="t3">{{equipamento.id}}</td>
            </tr>
            <tr>
                <td class="c2">Nome</td>
                <td>{{equipamento.nome}}</td>
            </tr>
            <tr>
                <td class="c3">Avaria</td>
                <td>{{equipamento.avaria}}</td>
            </tr>

            <tr>
                <td class="c1">Tipo</td>
                <td>{{equipamento.tipo}}</td>
            </tr>

            <tr>
                <td class="c2">Marca</td>
                <td>{{equipamento.marca}}</td>
            </tr>
            <tr ng-hide="equipamento.orcamento == null || equipamento.orcamento == 0">
                <td class="c2">Orçamento</td>
                <td>{{equipamento.orcamento}}</td>

            </tr>
            <!-- =======================IMAGEM  =========================================-->
            <tr ng-show="uploadImagem == false && equipamento.img == null">
                <td colspan="2">
                    <button class="btn btn-primary btn-block " ng-click="uploadImagem = true">Enviar imagem</button>
                </td>
            </tr>

            <tr ng-show="uploadImagem == true && equipamento.img == null">
                <td colspan="2" class="c1">Enviar imagem</td>
            </tr>
            <tr ng-if="uploadImagem == true && equipamento.img == null">
                <td>
                    <input class="btn btn-primary btn-block " type="file" id="file" name="files" file-model="myFile">
                </td>
                <td>
                    <button class="btn btn-primary btn-block " ng-click="enviarFoto(ordens, equipamento.id)"
                        class="btn btn-primary btn-block">Enviar imagem</button>
                </td>
            </tr>

            <tr ng-hide="equipamento.img == null">
                <td colspan="2"><img ng-src="https://projeto-tecnico-rmo.s3.sa-east-1.amazonaws.com/{{equipamento.img}}"
                        alt=""></td>
            </tr>
            <!--=================================== IMAGEM=============================================-->
            <tr ng-show="dlt==false">
                <td colspan="2" class="danger"> <button class="btn btn-primary btn-block btn-danger" ng-model="dlt"
                        ng-click="dlt=true">Deletar</button></td> <br>
            </tr>

            <tr ng-show="dlt==true">
                <td colspan="2">Tem certeza que deseja deletar o equipamento {{equipamento.nome}}</td>
            </tr>

            <tr ng-show="dlt==true">
                <td>
                    <button class="btn btn-primary btn-block btn-danger" ng-model="delete"
                        ng-click="deleteEquipamento(ordens.id,equipamento.id)">Deletar</button>
                </td>
                <td>
                    <button class="btn btn-primary btn-block" ng-model="delete" ng-click="dlt=false">Cancelar</button>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary btn-block btn-danger"> <a ng-href="index.html#/deletarOrdem/{{ordens.id}}"
                class="link-main lin">Deletar</a></button>

        <button class="btn btn-primary btn-block "><a class="normal"
                href="index.html#/diagnostico/{{ordens.id}}">Inserir diagnóstico para ordem</a></button>

        <a class="link-main lin" href="index.html#/ordens">
            < Voltar</a>
    </div>
</div>