<div>
    <header>
        <div>
            <div ng-include="'view/utilitários/menu.html'"></div>
            <h1 class="titulo">Registro de Cliente</h1>
        </div>
    </header class="corpo">
    <div class="corpo">  
        <form nome="newFuncionario"  class="form-control centered-form panel">
            <label for="nome">Nome do cliente</label> <br>
            <input type="text" name="nome" placeholder="Nome" ng-required="true" ng-model="newCliente.nome"><br>
            
            <label for="email">Email do cliente</label> <br>
            <input type="text" name="email" placeholder="Email" ng-required="true" ng-model="newCliente.email"><br>
            
            <label for="telefone">Telefone do cliente</label> <br>
            <input type="text" name="telefone" placeholder="Telefone" ng-required="true" ng-model="newCliente.telefone"><br>
            
            <label for="endereco">Endereço do cliente</label> <br>
            <input type="text" name="endereco" placeholder="Endereço" ng-required="true" ng-model="newCliente.endereco"><br>
            
            <label for="cpf">CPF do cliente</label> <br>
            <input type="text" name="cpf" placeholder="CPF" ng-required="true" ng-model="newCliente.cpf"><br>
            <button  class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid" ng-click="postCliente(newCliente)">Cadastrar novo cliente</button> <br>
       
        </form>
    </div>   
</div>