<div>
    <header>
        <div>
            <div ng-include="'view/utilitários/menu.html'"></div>
            <h1 class="titulo">{{clientes.nome}}</h1>
        </div>
    </header>
    <div class="corpo perfil">
        <table class="table table-striped table-dark">
            <tr>
                <td class="c1">Id</td>
                <td class="t1">{{clientes.id}}</td>
            </tr>
            <tr>
                <td class="c1">nome</td>
                <td class="t2">{{clientes.nome}}</td>
            </tr>
            <tr>
                <td class="c1">email</td>
                <td class="t3">{{clientes.email}}</td>
            </tr>
            <tr>
                <td class="c1">telefone</td>
                <td class="t1">{{clientes.telefone}}</td>
            </tr>
            <tr>
                <td class="c1"> CPF</td>
                <td class="t1">{{clientes.cpf}}</td>
            </tr>
            <tr>
                <td class="c1"> Endereço</td>
                <td class="t1">{{clientes.endereco}}</td>
            </tr>
            <tr>
                <td class="c1"><a href="index.html#/alterarCliente/{{clientes.id}}" class="link-main t2 c1 lin" >Alterar</a></td>
                <td class="danger"><a ng-href="index.html#/deletarCliente/{{clientes.id}}" class="link-main danger lin">Deletar</a></td>
            </tr>
        </table>
        <a class="link-main lin" href="index.html#/clientes">< Voltar</a>
    </div>
</div>